body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#items, #items td, #items th,
#cart, #cart td, #cart th,
#orders, #orders td, #orders th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

a {
    color: #00B7FF;
}

hr {
    width: 80%;
    margin: 30px auto;
}

.qtyCell {
    display: flex;
    flex-direction: row;
}

.qty {
    margin: 0 10px;
}

.spacer {
    flex-grow: 1;
    min-width: 30px;
}

#checkout-form {
    display: flex;
    flex-direction: column;
}

.group {
    display: flex;
    flex-direction: row;
}