extends layout

block content
    h1= title
    p Welcome to #{title}

    input(type='test' id='search' placeholder='Search...')
    button(id='searchBtn') Search
    
    table(id='items')
        tr
            th ID
            th Title
            th Description
            th Unit Price

    hr
    h2 Cart
    table(id='cart')
        tr
            th ID
            th Title
            th Description
            th Quantity
            th Cost

    div(id='subtotal') Subtotal: $0.00

    hr
    h2 Ready to check out?
    div(id='checkout-form')
        div(class='group')
            label(for='name') Name:
            div(class='spacer')
            input(type='text' id='name' placeholder='John Doe')
        div(class='group')
            label(for='email') Email:
            div(class='spacer')
            input(type='text' id='email' placeholder='example@me.com')
        div(class='group')
            label(for='address') Address:
            div(class='spacer')
            input(type='text' id='address' placeholder='123 S Main St, City, WA')

        div(class='group')
            label(for='creditnum') Credit Card Number:
            div(class='spacer')
            input(type='number' id='creditnum' placeholder='########')
        div(class='group')
            label(for='expdate') Exp. Date:
            div(class='spacer')
            input(type='month' id='expdate')
        div(class='group')
            label(for='cvv') CVV:
            div(class='spacer')
            input(type='number' id='cvv' placeholder='###' max=999)

        button(id='checkoutBtn') Checkout

block scripts
    script(src='javascripts/load-items.js')
