extends layout

block content
    h1= title
    p Welcome to #{title}

    input(type='test' id='search' placeholder='Search...')
    button(id='searchBtn') Search
    
    table(id='orders')
        tr
            th ID
            th Items
            th Cost
            th Name
            th Email
            th Address
            th Shipping Status
            th Tracking Number

block scripts
    script(type='text/javascript').
        let us = !{JSON.stringify(user)};
    script(src='javascripts/manage.js')
